#project-hamburger {
    width: 20px;
    height: 20px;
    position: absolute;
    right: var(--gutter);
    top: var(--gutter);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#project-hamburger > div {
    height: 2px;
    margin: 2px 0;
    background-color: var(--bg-brightgray);
    transition: 0.3s;
}

.project-containter:hover #project-hamburger > div:nth-child(1){
    transform: scaleX(0.5) translate(7px, 0);
}

.project-containter:hover #project-hamburger > div:nth-child(3){
    transform: scaleX(0.5) translate(-7px, 0);
}