
@media screen and (max-width: 800px) {
.desktop-menu {
    display: none;
}
}
.project-containter{
    display: flex;
    position: relative; 
    padding: 2rem 2rem;
    gap: var(--gutter);
    width: min(100%, 1200px);
    background-color: var(--bg-gray);
    border-radius: 10px;
    width: 100%;
    height: 15rem;
}
.project-containter:hover{
    top: -2px;
}

.project-containter:hover img {
    width: min(80%, 260px)
}

#project-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0;
    
}
#project-image{
    width: 150px;
    height: 110px;
    background-color: white;
    overflow: hidden;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-name{
    font-size: 2.2rem;
    font-weight: bold;
}
#project-detail{
    line-height: 2rem;
    font-size: 1.6rem;
    color: #c6c6c6;;
}

#people-name{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

#people-name > div{
    background-color:var(--bg-brightgray);
    padding: 6px 8px;
    color: black;
    font-size: 1.4rem;
    border-radius: 5px;
}

#people-name > div:nth-child(1){
    background-color:#2188b6;
    color: white;
}

img{
    width: min(75%, 250px);
}

@media screen and (max-width: 650px) {
    .project-containter{
        height: 33rem;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #project-image{
        width: min(75%, 250px);
        height: 160px;
    }
    #project-description{
        align-items: center;
        gap: 10px;
    }
}