@import url(reset.css);

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  margin: 1rem 10rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
}
a {
  text-decoration: none;
  color: black;
}
main {
  margin: 1rem 10rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2.5rem;
  font-size: 1rem;
}
.post {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 10rem;
  height: 20rem;
  text-wrap: wrap;
}
img {
  width: 10rem;
  height: 15rem;
}
.content {
  font-size: 0.5rem;
  overflow: hidden;
}
.title-area {
  display: flex;
  flex-direction: row;
}
.post__like-btn {
  cursor: pointer;
}
