@font-face {
  font-family: "SejonghospitalBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2312-1@1.1/SejonghospitalBold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 10rem 10rem;
  font-family: "SejonghospitalBold";
}

#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#title > h1 {
  font-size: 3rem;
  text-wrap: nowrap;
}

#title > i {
  font-size: 3rem;
  margin-right: 1rem;
}

#stop-watch-container {
  background-color: #b5bfb6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 50rem;

  padding: 2rem 4rem;
  margin-bottom: 4rem;
  border-radius: 30px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}
#timer {
  background-color: white;
  font-size: 5rem;
  padding: 2rem;
  margin: 2rem 1rem;
  width: 40rem;
  border-radius: 30px;
  text-align: center;
}
#btn {
  display: flex;
  gap: 5rem;
}

#btn > button {
  background-color: gainsboro;
  font-size: 2.5rem;
  padding: 1.5rem;
  border-radius: 30px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.2);
}

#record {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 60rem;
  padding: 0 1rem;
}
#record-header {
  background-color: #b5bfb6;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 2.5rem;
  padding: 1rem 5rem;
  border-radius: 30px 30px 0px 0px;
}
#record-header > i:hover {
  color: red;
  cursor: pointer;
}
.custom-checkbox {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  appearance: none;
  outline: none;
  border: 3px solid #333;
  background-color: transparent;
  cursor: pointer;
}

#record-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 1rem 0;
  width: 100%;
}

#record-list > li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 5rem;
  width: 100%;
}
